.result-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
    z-index: 1000;
}
.horizontal-results {
    display: flex; /* Flexbox para alinear horizontalmente */
    gap: 20px; /* Espacio entre los elementos */
    justify-content: center; /* Centrar horizontalmente */
    flex-wrap: wrap; /* Para que los elementos salten a otra línea si no caben */
    margin: 20px 0;
}

.number{
    font-size:40px;
    font-weight: bold;
    color: #007bff;
}
.player-result {
    background-color: #f1f1f1;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.result-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff2cc;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 100%;
    /*max-width: 500px;*/
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.result-modal-content img {
    width: 200px;
    height: 150px;
    border-radius: 10%;
}
.result-modal-content h1 {
    margin-top: 35px;
    font-size: 40px;
    color: #333333;
}

.result-modal-content p {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #666;
}

.result-modal-content button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
}

.result-modal-content button:hover {
    background: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
} 